/*
 Theme Name:   Euro Rescue
 Template:     yootheme
 Author:       John Doe
 Description:  YOOtheme Child Theme
 Version:      1.0.0
 Text Domain:  yootheme-mytheme
*/

.tm-page-container .tm-page {
    max-width: 1280px;
    background: #fff;
    }


.copyright-text p {
        color: darkgray;
        font-size: 0.8rem;
        line-height: 1.4rem;
}

.footer-nav ul {
    margin-top: 0px;
}

.footer-nav ul li {
    text-align: left;
    list-style-type: none;
}

.footer-nav h4 {
    font-weight: bold;
}


span.uk-badge.on {
    display: block;
}

span.uk-badge.off {
    display: none;
}


.page-template-default h1, .post-template-default h1 {
    /* text-align: left !important; */
    }


.uk-navbar-container>.uk-container .uk-navbar-right {
    margin-right: 0px;
}



div#tm-main {
        padding-bottom: 0px;
    }

    .uk-button-secondary {
        background-color: transparent;
        color: #303080;
        border: 1px solid transparent;
        padding: 8px;
        font-weight: 600;
        padding-left: 24px;
        /* box-shadow: 0px 0px 0px 1px #303080 inset; */
        border: #cccccc 1px solid;
        padding-right: 24px;
        border-radius: 2px !important;
    }

    .uk-button-secondary:focus, .uk-button-secondary:hover {
        background-color: #303080;
        color: #fff;
        border-color: #303080;
    }

.uk-card-media-top {
    width: 100%;
    height: 164px;
    background: #ccc;
}

.uk-navbar-container.uk-navbar-sticky {
        border-bottom: 1px solid #cccccc78;
    }

.call-us svg {color: #fff; margin-right: 8px;}

.content-left, .content-right {
    padding-right: 212px;
}
    
.uk-card-media-top img {
    height: 164px;
    width: 100%;
}

.uk-slider a {
    color: #303080 !important;
}

.with-divider {
    border-bottom: 1px solid #cccccc78;
}
div#tm-main {
        padding-top: 0px;
    }

.footer a, .footer span, .footer p {
        color: #fff !important;
    }

.call-us {
    color: #fff !important;
}
.uk-navbar-nav>li>a {
        color: red;
        transition: .1s ease-in-out;
        transition-property: color,background-color,border-color,box-shadow;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
        }

/* Deal Wrapper */

.dealContainer {
    position: relative;
    top: -56px;
    border-radius: 2px;
    background-color: #fff;
}

.dealWrapper {
    background: #fff;
    padding: 32px;
    -webkit-box-shadow: 0px -2px 8px -1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px -2px 8px -1px rgba(0,0,0,0.20);
    box-shadow: 0px -2px 38px -1px rgba(0,0,0,0.20);
}

/* Cards */

.dealWrapper span.uk-badge {
    padding: 12px;
    margin-right: 8px;
    padding-top: 16px;
    position: relative;
    border-radius: 3px;
    padding-bottom: 16px;
    background: #fff;
    box-shadow: 0 5px 6px rgba(0,0,0,0.12);
    top: -12px;
    color: #1e87f0;
    border: 2px solid #1e87f0;
}

.uk-card.uk-card-default.uk-card-body {
    padding: 0px;
}

.cardHero {
    width: 100%;
    height: 148px;
    background: #ccc;
}

.cardContents {
    padding: 32px;
}

/* UI Controls: Tabs */

.tabs {
    margin-bottom: 0px;
    margin-left: 0px !important;
    background: #fff;
}

.tabs li {
    border-right: 1px solid #ccc6;
    padding-left: 0px;
}

.tabs li a {
    height: 32px;
    padding-top: 16px;
    font-size: 1em;
    padding-bottom: 6px;
    text-transform: capitalize;
}

.uk-tab>.uk-active>a {
    color: #333;
    border-color: #FF8800 !important;
    border-bottom-width: 3px;
    text-transform: capitalize;
    font-weight: 500;
}

.tabs .uk-active {
    background: #f5f5f57a !important;
}


/* UI Controls: Buttons */

button.uk-button.uk-button-primary.uk-button-large {
    transition-property: background-color 2s ease-out;
}


button.uk-button.uk-button-primary.uk-button-large:hover {
    background: #2276C2;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
 
}


.uk-button {
    margin: 4px !important;
}

.uk-button-primary {
    background-image: linear-gradient(216deg, #FFA34A 0%, #FF6A24 42%);
    border-radius: 28px;
    color: #fff !important;
    font-weight: 700 !important;
}

.uk-button-secondary {
    background: none !important;
    border: 4px solid #fff !important;
    border-radius: 28px;
    color: #fff !important;
    font-weight: 700 !important;
}

/* Component: USP Block */

.phone {
    background-image: url(https://gracious-hopper-3cedcd.netlify.com/static/iPhone-b921a8d432245b02188972413dcc87d8.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center top;
}

/* Site Brand Overrides */

.clubrcib h1.uk-text-bold.massive-text {
    color: #fff;
    font-size: 4em;
}

/*Global */

.transparentSection {
    height: 256px;
    width: 100%;
    background: none;
}

.massiveHeading {
    font-weight: 600 !important;
    color: #2276C2;
    font-size: 4.5em !important;
    line-height: 1 !important;
}

.massiveSubHeading {
    font-weight: 400!important;
    color: #000;
    font-size: 2em!important;
    margin-top: 0!important;
    line-height: 1.1em!important;
}

.blueSection {
    height: auto;
    width: 100%;
    background-color: #2276C2;
}

#product-tiles .price {
    font-size: 42px;
}

#parallelogram {
    width: 320px;
    height: 320px;
    background: #D8272F;
    top: 217px;
    z-index: 9;
    left: 50%;
    margin-top: -136px;
    border-radius: 50%;
    position: absolute;
    margin-left: -608px;
    }

    svg {
        color: #303080;
    }

    .uk-navbar-nav svg, .footer svg  {
        color: #303080;
    }

    .product-features svg {
        color: green;
    }

    .call-us svg, .call-us h1 {
        color: #D8272F !important;
    }

    .call-us-header {
        position: relative;
        top: 2px;
    }

.file-type svg {
    color: #303080;
    margin-right: 8px;
}

   .no.uk-icon svg {
        color:#D8272F;
    }

    .warning svg {
        color: #fff !important;
    }


html {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    background: #fff;
    color: #666;
}


.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #333;
    text-transform: none;
    font-weight: 400;
}

.uk-navbar-nav>li.uk-active>a {
    color: #D8272F;
}

.tm-header {
    background: #fff;
    -webkit-box-shadow: 0px -2px 8px -1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px -2px 8px -1px rgba(0,0,0,0.20);
    box-shadow: 0px -2px 38px -1px rgba(0,0,0,0.20);
    z-index: 20;
    position: relative;
}

.uk-light .uk-navbar-nav>li.uk-active>a, .uk-section-primary:not(.uk-preserve-color) .uk-navbar-nav>li.uk-active>a, .uk-section-secondary:not(.uk-preserve-color) .uk-navbar-nav>li.uk-active>a, .uk-tile-primary:not(.uk-preserve-color) .uk-navbar-nav>li.uk-active>a, .uk-tile-secondary:not(.uk-preserve-color) .uk-navbar-nav>li.uk-active>a, .uk-card-primary.uk-card-body .uk-navbar-nav>li.uk-active>a, .uk-card-primary>:not([class*='uk-card-media']) .uk-navbar-nav>li.uk-active>a, .uk-card-secondary.uk-card-body .uk-navbar-nav>li.uk-active>a, .uk-card-secondary>:not([class*='uk-card-media']) .uk-navbar-nav>li.uk-active>a, .uk-overlay-primary .uk-navbar-nav>li.uk-active>a, .tm-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav>li.uk-active>a {
    color: #000;
}

.uk-light .uk-logo, .uk-section-primary:not(.uk-preserve-color) .uk-logo, .uk-section-secondary:not(.uk-preserve-color) .uk-logo, .uk-tile-primary:not(.uk-preserve-color) .uk-logo, .uk-tile-secondary:not(.uk-preserve-color) .uk-logo, .uk-card-primary.uk-card-body .uk-logo, .uk-card-primary>:not([class*='uk-card-media']) .uk-logo, .uk-card-secondary.uk-card-body .uk-logo, .uk-card-secondary>:not([class*='uk-card-media']) .uk-logo, .uk-overlay-primary .uk-logo, .tm-navbar-container:not(.uk-navbar-transparent) .uk-logo {
    color: #000;
}

.uk-logo {
    font-size: 24px;
    font-family: ProximaNova,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    color: #000;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    top: -6px;
}


.uk-light .uk-navbar-nav>li>a, .uk-section-primary:not(.uk-preserve-color) .uk-navbar-nav>li>a, .uk-section-secondary:not(.uk-preserve-color) .uk-navbar-nav>li>a, .uk-tile-primary:not(.uk-preserve-color) .uk-navbar-nav>li>a, .uk-tile-secondary:not(.uk-preserve-color) .uk-navbar-nav>li>a, .uk-card-primary.uk-card-body .uk-navbar-nav>li>a, .uk-card-primary>:not([class*='uk-card-media']) .uk-navbar-nav>li>a, .uk-card-secondary.uk-card-body .uk-navbar-nav>li>a, .uk-card-secondary>:not([class*='uk-card-media']) .uk-navbar-nav>li>a, .uk-overlay-primary .uk-navbar-nav>li>a, .tm-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav>li>a {
    color: rgba(0, 0, 0, 0.8);
}

.uk-light .tm-button-default, .uk-section-primary:not(.uk-preserve-color) .tm-button-default, .uk-section-secondary:not(.uk-preserve-color) .tm-button-default, .uk-tile-primary:not(.uk-preserve-color) .tm-button-default, .uk-tile-secondary:not(.uk-preserve-color) .tm-button-default, .uk-card-primary.uk-card-body .tm-button-default, .uk-card-primary>:not([class*='uk-card-media']) .tm-button-default, .uk-card-secondary.uk-card-body .tm-button-default, .uk-card-secondary>:not([class*='uk-card-media']) .tm-button-default, .uk-overlay-primary .tm-button-default, .tm-navbar-container:not(.uk-navbar-transparent) .tm-button-default {
    color: rgba(255,255,255,0.8);
    border-color: rgba(255,255,255,0.6);
}

.tm-button-default, .tm-button-primary {
    border-radius: 500px;
}

.tm-navbar-container .uk-navbar-nav>li>a {
    position: relative;
}

.uk-navbar-container .uk-navbar-nav>li>a {
    position: relative;
}

.tm-navbar-container .uk-navbar-nav>li>a, .tm-navbar-container .uk-navbar-item:not(.uk-logo), .tm-navbar-container .uk-navbar-toggle {
    height: 70px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.uk-navbar-nav>li>a, .uk-navbar-item, .uk-navbar-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 80px;
    padding: 0 15px;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

.primary-nav a {
    position: relative;
    top: -16px;
    top: -6px;
}

ul.uk-navbar-nav.primary-nav {
    position: relative;
    top: 11px;
}

.tm-navbar-container .uk-navbar-nav>li>a::before {
    content: '';
    display: block;
    position: absolute;
    left: 15px;
    right: calc(102% - 15px);
    bottom: 12px;
    height: 2px;
    background-color: #D8272F;
    transition: .3s ease-in-out;
    transition-property: right;
}

.primary-nav li {
    border-right: 1px solid #efefef;
    position: relative;
    top: -15px;
    height: 72px;
}

.uk-navbar-dropdown-nav li {
    top: 0px;
    height: auto;
    border-right: 0px solid #efefef;
}

.primary-nav li:last-of-type {
    border-right: 0px;
}

.uk-card-footer {
    padding: 24px 24px;
}

.uk-navbar-dropdown-nav {
    margin-left: 0;
    margin-right: 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
}

.primary-nav .uk-button-default {
    height: 100%;
    position: relative;
}

/* .primary-nav li a:after {
    content: "|";
    margin-left: 16px;
    margin-right: 16px;
    color: #c3c3c3;
}*/

.uk-navbar-dropdown-nav a {
    top: 0px;
    text-transform: none;
}

.uk-navbar-dropdown {
    display: none;
    position: absolute;
    z-index: 1020;
    box-sizing: border-box;
    width: 200px;
    padding: 16px;
    padding-top: 4px;
    background: #fff;
    color: #6c6d74;
    box-shadow: 0 1px 4px rgba(0,0,0,.14);
}

.uk-navbar-nav>li>a::before {
    content: '';
    display: block;
    position: absolute;
    left: 15px;
    right: calc(102% - 15px);
    bottom: 12px;
    height: 2px;
    background-color: #D8272F;
    transition: .3s ease-in-out;
    transition-property: right;
}


.uk-navbar-container .uk-navbar-nav>li>a:hover::before {
    right: 15px;
}

a, .uk-link {
    color: #1e87f0;
    text-decoration: none;
    cursor: pointer;
}

.uk-navbar-nav>li>a {
    color: #666;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: color,background-color;
}

.uk-section {
    padding-top: 56px;
    padding-bottom: 56px;
}

.uk-navbar-dropdown.tertiary-nav-dropdown.uk-navbar-dropdown-bottom-left, .uk-navbar-dropdown.tertiary-nav-dropdown.uk-navbar-dropdown-bottom-right {
    margin-top: -52px;
}

.uk-accordion-title {
    font-size: 24px;
}

.uk-accordion>:nth-child(n+2), .uk-accordion li {
    margin-top: 16px;
    padding-top: 16px;
    border: 1px solid #e5e5e7;
    padding: 16px;
    border-radius: 3px;
}

.uk-card span.uk-badge {
    background: #303080;
    position: absolute;
    margin: auto;
    padding: 12px;
    top: -8px;
    left: 50%;
    margin-left: -28px;
}

/* Header */
.uk-navbar-container.tm-navbar-container.uk-active {
    background: #fff;
}

/* Hero Cover */
.uk-cover-container {
    height: 464px;
}

a.uk-accordion-title {
    font-family: 'Quicksand';
}

.footer svg {
    color: #fff;
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 959px) {

    #header-hero {
        height: 256px;
    }

    .content-left, .content-right {
        padding-right: 0px;
    }

}

@media (min-width: 320px) and (max-width: 1194px) {
  
    .uk-card.uk-card-default.uk-margin-right {
        margin-right: 0px !important;
    }



    #parallelogram {
    margin-left: -500px;
    }

    a.uk-navbar-item.uk-logo {
        position: relative;
        top: 0px;
    }

    .uk-nav-primary>li>a {
        font-size: 20px;
        line-height: 1.625;
        color: #b4b5ba;
        transition: .1s ease-in-out;
        transition-property: color,background-color,border-color,box-shadow;
        padding: 2px 0;
        font-weight: 500;
    }

    div#tm-main {
        padding-top: 0px !important;
    }

    .uk-section {
        padding-top: 32px !important;
        padding-bottom: 32px !important;
    }

    .uk-button-default {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }

    .uk-button-secondary {
        padding-left: 8px;
        padding-right: 8px;
    }
    
  }

  .uk-navbar-container:not(.uk-navbar-transparent) {
    background: #fff;
    height: 72px;
}

  ul.uk-navbar-nav.primary-nav .menu-item {
    padding-right: 18px;
    top: 6px;
    padding-left: 18px;
}

.uk-offcanvas-slide a {
    color: #fff !important;
    font-family: 'Quicksand';
}

.uk-offcanvas-close svg {
    color: #fff !important;
}

.uk-offcanvas ul.uk-nav-sub {
    padding: 0px;
}

.uk-offcanvas a.uk-button.uk-button-default.tm-button-default.uk-icon {
    margin-left: 0px !important;
}

/*Tile */
.uk-tile-secondary {
    background: #fff !important;
}

/* Card */
.uk-card {
    border-radius: 3px;
}

.uk-h3, h3 {
    line-height: 1.2;
}

[class*=uk-modal-close-] {
    position: absolute;
    z-index: 1010;
    top: 27px;
    right: 24px;
    padding: 5px;
}


.uk-card-body {
    padding: 32px 40px;
}

.uk-card-default .uk-card-title, h2.uk-modal-title {
    color: #303080 !important;
    font-weight: 500;
}

.uk-card-title, h2.uk-modal-title {
    font-size: 28px;
    line-height: 1.4;
    font-family: "Quicksand"
}

.uk-card-default {
    background: #fff;
    color: #666;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

/*Image Breaker */
.image-breaker {
    min-height: 350px;
}

/* Hero Slider */
.uk-section.uk-section-default.hero {
    padding-top: 0px;
    padding-bottom: 38px;
}

.hero li {
    opacity: 0.5;
}

.hero .uk-transition-active {
    opacity: 1;
    transition: opacity 0.5s;
}

.hero .uk-panel {
    width: 1200px;
    margin-left: 24px;
}

/* Nav Bar */
.uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a.uk-open, .uk-navbar-nav>li>a:focus {
    color: #D8272F;
    outline: 0;
}

.tertiary-nav-dropdown ul.uk-nav.uk-navbar-dropdown-nav {
    margin-top: 8px;
}


.uk-navbar-dropdown-nav>li>a:hover, .tertiary-nav-dropdown.uk-navbar-dropdown-bottom-right .uk-navbar-dropdown-nav>li>a:hover {
    color: #D8272F !important;
    font-weight: bold;
}
.uk-navbar-dropdown {
    margin-top: 0px;
    top: 101px !important;
}

.uk-navbar-dropdown a {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.uk-navbar-nav>li>a {
        min-height: 56px;
        text-transform: none;
        font-size: 16px;
        color: #fff !important;
        height: 56px !important;
}
.uk-navbar-nav .uk-divider-vertical {
    height: 16px !important;
    opacity: 1;
    position: relative;
    top: 8px;
}

.wp-block-spacer {
    height: 56px !important;
}


.tertiary-nav {
    background: #303080 !important;
    background: #fff !important;
    position: relative;
    border-bottom: 1px solid #e2e2e269;
    z-index: 99;
}   

.tertiary-nav .uk-navbar-right li a, .tertiary-nav .uk-navbar-left li a {
    color: #fff !important;
    color: #303080 !important;
}

.uk-divider-vertical {
    width: 1px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid #efefef;
}

.uk-navbar-dropdown {
    margin-top: -29px;
}
nav.uk-navbar-container.uk-navbar {
/* -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
-moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);
box-shadow: 0 2px 4px rgba(0,0,0,.2); */
position: relative;
z-index: 9;
border-top: 1px solid #cccccc54;
}

/* Header Logo */
.uk-container.primary-nav {
    background: #fff;
}
.uk-navbar-right .uk-divider-vertical {
    color: #000;
    opacity: 1;
    top: 2px;
}
.uk-navbar-nav li a {
    color: #323232 !important;
}