.dealWrapper {
    background: #fff;
    padding: 32px;
    box-shadow: 0 -2px 38px -1px rgba(0,0,0,.2);
}

#process button.uk-button.uk-button-primary.uk-button-large {
    position: absolute;
    left: 472px;
}